body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10%;
    margin-top: 20%;
    height: fit-content;
    background-color: black;
    font-family: 'Lato', sans-serif;
    background-image: url('../assets/Illustration_sans_titre\ 15.png'); 
    background-size: 90%;
    background-position: 30% 52%;
    background-repeat: no-repeat;
    
}

body.invert {
    background-image: url('');
}


.images {
    width: 500px;
}


.titreImg {
    width: 400px;
    margin-top: -70%;
    margin-left: 5%;
}

.fond {
    width: 400px;
    margin-top: -20%;
    
}


.container {
    text-align: center;   
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




input[type="text"] {
    width: 500px;
    height: 50px;
    font-size: 23px; 
    background-color: #f2f2f2; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 3%;
}


input[type="date"] {
    width: 20%;
    height: 50px;
    font-size: 20px; 
    background-color: #f2f2f2; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 3%;
}



#addTask {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #f2f2f2; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: -3%;
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

/* #addTask {
    margin-top: 5%;
} */

#addTask:hover {
    animation: shake 0.5s ease-in-out infinite
}



.task {
    display: none;
    width: 17.6em;
    height: 19em;
    background-color: none;
    margin-top: 3%; 
    line-height: 100px;
    color: white;
    font-weight: bold;
    margin-right: 10px; 
    position: relative; 
    align-items: flex-end; 
    display: flex; 
    margin-bottom: 5px;

}

.taskBoutons {
    position: absolute; 
    top: -30px; 
    padding-right: 5px; 
}

button {
    margin-top: 5px; 
    margin-left: 5px; 
}

.task-travail {
    background-color: rgb(108, 189, 216);
}

.task-perso {
    background-color: #e6a0ca; /* Rose */
}

.task-autre {
    background-color: rgb(219, 219, 110);
}



.taskDate {
    font-size: 14px;
    color: #555;
}




.tasks-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}


.taskText {
    position: absolute; 
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    color: black;
    font-family: 'Sora', sans-serif;
    margin-top: 5%;
    font-size: 20px;
}